
.bad {
	color:black;
	border:1px solid #FF3300;
	margin:1em auto;
	border-collapse:collapse;
	background-color: #FECCBF;
}

.foot {
	border-collapse:collapse;
	font-size:85%;
	align:center;
}

.good {
	border-collapse:collapse;
	border:1px solid #009999;
	background-color: #BFFFFE;
}

.bb_main {
	border-collapse:collapse;
	border:1px solid #B2A100;
	background-color: #FEF9BF;
	width:800px;
	position:75px;
	left:15%;
}

A:visited {
	color: blue;
}


