<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BBSignup</display-name>

  <servlet>
    <servlet-name>SignupForm</servlet-name>
    <servlet-class>gov.nysenate.billbuzz.controller.SignupForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupForm</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupForm</servlet-name>
    <url-pattern>/signup/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupForm</servlet-name>
    <url-pattern>/signup/form</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignupConfirmation</servlet-name>
    <servlet-class>gov.nysenate.billbuzz.controller.SignupConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupConfirmation</servlet-name>
    <url-pattern>/signup/confirm</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UnsubscribeRequest</servlet-name>
    <servlet-class>gov.nysenate.billbuzz.controller.UnsubscribeRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnsubscribeRequest</servlet-name>
    <url-pattern>/unsubscribe/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnsubscribeRequest</servlet-name>
    <url-pattern>/unsubscribe/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UnsubscribeConfirmation</servlet-name>
    <servlet-class>gov.nysenate.billbuzz.controller.UnsubscribeConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnsubscribeConfirmation</servlet-name>
    <url-pattern>/unsubscribe/confirm</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateRequest</servlet-name>
    <servlet-class>gov.nysenate.billbuzz.controller.UpdateRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequest</servlet-name>
    <url-pattern>/update/request</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateRequest</servlet-name>
    <url-pattern>/update/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UpdateForm</servlet-name>
    <servlet-class>gov.nysenate.billbuzz.controller.UpdateForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateForm</servlet-name>
    <url-pattern>/update/form</url-pattern>
  </servlet-mapping>

  <context-param>
     <param-name>Application</param-name>
     <param-value>gov.nysenate.billbuzz.util.Application</param-value>
  </context-param>
</web-app>